*{
  padding: 0;
  margin: 0;

}
.home{
  width:100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 91%), rgb(0 0 0 / 83%)), url(../public/Images/homeBg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:100% 100%;
  overflow: auto;
}
.header{
  width: 90%;
  margin: auto;
  color:#07fff2;
  font-size: 29px;
  padding: 20px;
  background: #8d2f2f36;
  margin-top: 20px;
  border-left: 3px solid ;
}
.footer{
  color:#faffff;
  font-size: 15px;
  padding: 10px;
  background: black;
  text-align: center;
}
.HomeData{
  margin-top: 30px;
  color: #fff;
}
.handleState{
  width: 90%;
  min-height: 10vh;
  margin: auto;
  color: #fff;
  padding: 20px;
  background: rgb(1, 2, 8);
}
.homeDiv{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 50px;
  justify-content: center;
  align-content: center;
}
.homeitem{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
}
.homeitem-in{
  background: rgb(173, 92, 92);
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #000;
}