*{
  padding: 0;
  margin: 0;

}
.home{
  width:100%;
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom, rgb(0 0 0 / 91%), rgb(0 0 0 / 83%)), url(../public/Images/homeBg.jpg); */
  background-repeat: no-repeat;
  background-size:cover;
  background-position:100% 100%;
  overflow: auto;
}

.footer{
  color:#faffff;
  font-size: 15px;
  padding: 10px;
  background: black;
  text-align: center;
}
.HomeData{
  margin-top: 30px;
  /* color: #fff; */
}
.handleState{
  width: 90%;
  min-height: 10vh;
  margin: auto;
  /* color: #fff; */
  padding: 20px;
  /* background: rgb(1, 2, 8); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.homeDiv{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns:6fr 2fr;
  grid-gap: 50px;
  justify-content: center;
  align-content: center;
 
}
.homeitem{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-bottom: 100px;
  margin-top: 20px;
}
.homeitem-in{
  width: 200px;
  display: flex;
  flex-direction: column;
  background: rgb(250, 6, 238);
  margin: 10px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.homeitem-in p{
    padding: 3px;
}

.sidebar-team{
  width: 400px;
  min-height: 300px;
  z-index: 6;
  margin-top: 30px;
}
.btn-select{
  padding: 3px;
  background: rgb(4, 0, 255);
  border: none;
  color: #fff;
  cursor: pointer;

}
@media only screen and (max-width: 1000px) {
  .sidebar-team{
    width: 300px;
    min-height: 200px;
  }
  .homeitem-in{
    width: 170px;
    margin: 7px;

  }
}
@media only screen and (max-width: 870px) {
  .sidebar-team{
    width: 200px;
    min-height: 100px;
  }
  .homeitem-in{
    width: 150px;
    margin: 5px;

  }
}
.handleMain{
  padding: 10px;
  background: #194470;
  color: #fff;
  margin-bottom: 5px;
}