*{
  padding: 0;
  margin: 0;

}
.home{
  width:100%;
  min-height: 150vh;
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 91%), rgb(0 0 0 / 83%)), url(../public/Images/homeBg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:100% 100%;
  position:absolute;
}
.header{
  width: 90%;
  margin: auto;
  color:#07fff2;
  font-size: 29px;
  padding: 20px;
  background: #8d2f2f36;
  margin-top: 20px;
  border-left: 3px solid ;

}
.footer{
  color:#faffff;
  font-size: 15px;
  padding: 10px;
  background: black;
  text-align: center;
}